.profile__add-card {
  background: url("./../../../images/plus.svg") no-repeat center;
  background-size: 22px;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .profile__add-card {
    min-width: 282px;
    background-size: 16px;
  }
}
